@import url('https://fonts.cdnfonts.com/css/moon-get');
@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #FBDB54;
  --secondary-color: #50e3c2;
  --text-color: #333;
}

body {
  background-color: var(--primary-color);
  padding: .5rem;
}


h1,
h2,
h3 {
  font-family: 'MOON GET!', sans-serif;
  color: var(--text-color);
}

p {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

/* #region header */
header {
  padding: 0.5rem;
  /* border: #333 solid 1px; */
  background-color: #fbdc5496;
  border-radius: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: #333 0px 0px 10px 0px;
  backdrop-filter: blur(18px);


  .utils_link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
  }
}

/* #endregion header */

/* #region main */
main {
  .socials {
    a {
      color: var(--text-color);
    }
  }
}

/* #endregion main */